**/node_modules/
pocketbase/pb_schema.json
pocketBase/pb_data
pocketBase/pb_migrations
indexGenerator/out
.env
localinfo.md
indexGenerator/generateIndex.js.map
indexGenerator/generateIndex.js
testDataGenerator/generate.js
testDataGenerator/generate.js.map
kontaktverzeichnis/static/cust/logo.svg
nginx/kontaktverzeichnis.gnh.net.pfx
**.rsa
**.pem
**.key
**.crt
meilisearch/data/*
**.csv

